<template>
    <b-card class="mb-4" :no-body="!isExpanded" :header-class="{ 'border-bottom-0': !isExpanded }">
        <template #header>
            <div class="d-flex align-items-center justify-content-between pl-0">
                <b-button variant="link" :title="isExpanded ? 'Hide' : 'Expand'" v-b-tooltip @click="toggleIsExpanded">
                    <b-icon-chevron-down v-if="isExpanded" />
                    <b-icon-chevron-right v-else />
                </b-button>
                <b-input
                    :value="preset.presetName"
                    @input="setPresetName({ presetIndex, name: $event })"
                    :readonly="!editing"
                    :disabled="!editing"
                    :plaintext="!editing"
                    placeholder="Preset Name"
                />
                <b-button variant="link" :title="editing ? 'Save' : 'Edit'" v-b-tooltip @click="toggleEditing">
                    <b-icon-pencil v-if="!editing" />
                    <b-icon-check v-else />
                </b-button>
                <b-button
                    variant="link"
                    class="text-danger"
                    title="Remove"
                    v-b-tooltip
                    @click="confirmRemovePreset(preset, presetIndex)"
                >
                    <b-icon-trash />
                </b-button>
            </div>
        </template>

        <div v-show="isExpanded">
            <b-row>
                <b-col>
                    <b-card no-body class="mb-4" ref="approvers">
                        <template #header>
                            <b-icon-person-check-fill />
                            Approvers
                        </template>

                        <b-list-group flush>
                            <b-list-group-item
                                v-for="(approver, approverIndex) in preset.approvers"
                                :key="approverIndex"
                                class="d-flex justify-content-between"
                            >
                                <b-input-group prepend="@">
                                    <b-input
                                        :value="approver"
                                        @input="renameApprover({ presetIndex, approverIndex, approver: $event })"
                                        :disabled="!editing"
                                        placeholder="Username of approver (without @)"
                                        class="c-presetCard__approverInput"
                                    />
                                </b-input-group>
                                <b-button
                                    v-if="editing"
                                    variant="link"
                                    color="danger"
                                    title="Remove"
                                    v-b-tooltip
                                    @click="removeApprover({ presetIndex, approverIndex })"
                                >
                                    <b-icon-trash />
                                </b-button>
                            </b-list-group-item>
                            <b-list-group-item button @click="addApprover">
                                <b-icon-plus /> Add approver
                            </b-list-group-item>
                        </b-list-group>

                        <b-card-footer class="bg-white">
                            <b-input-group prepend="Required approvals: " class="d-inline-flex">
                                <b-input
                                    :value="preset.numberApprovalsRequired"
                                    @input="setNumberApprovalsRequired({ presetIndex, value: $event })"
                                    type="number"
                                    min="0"
                                    step="1"
                                    :disabled="!editing"
                                />
                            </b-input-group>
                        </b-card-footer>
                    </b-card>
                </b-col>

                <b-col>
                    <b-card class="mb-4">
                        <template #header>
                            <b-icon-person-check-fill />
                            Reviewers
                        </template>

                        <b-checkbox
                            :checked="preset.approversAsReviewers"
                            @input="setApproversAsReviewers({ presetIndex, value: $event })"
                            :disabled="!editing"
                        >
                            Set approvers as reviewers, too.
                        </b-checkbox>
                    </b-card>

                    <b-card no-body class="mb-4" ref="labels">
                        <template #header>
                            <b-icon-tag />
                            Labels
                        </template>

                        <b-list-group flush>
                            <b-list-group-item
                                v-for="(label, labelIndex) in preset.labels"
                                :key="labelIndex"
                                class="d-flex justify-content-between"
                            >
                                <b-input
                                    :value="label"
                                    @input="renameLabel({ presetIndex, labelIndex, label: $event })"
                                    :readonly="!editing"
                                    :disabled="!editing"
                                    :plaintext="!editing"
                                    placeholder="Label name"
                                />
                                <b-button
                                    v-if="editing"
                                    variant="link"
                                    color="danger"
                                    title="Remove"
                                    v-b-tooltip
                                    @click="removeLabel({ presetIndex, labelIndex })"
                                >
                                    <b-icon-trash />
                                </b-button>
                            </b-list-group-item>
                            <b-list-group-item button @click="addLabel"> <b-icon-plus /> Add label </b-list-group-item>
                        </b-list-group>
                    </b-card>

                    <b-card class="mb-4">
                        <template #header>
                            <b-icon-file-text />
                            Template
                        </template>

                        <b-input-group prepend="Apply template: " class="d-inline-flex">
                            <b-input
                                :value="preset.template"
                                @input="setTemplate({ presetIndex, value: $event })"
                                :disabled="!editing"
                            />
                        </b-input-group>
                    </b-card>
                </b-col>
            </b-row>

            <b-card>
                <template #header>
                    <b-icon-gear />
                    Options
                </template>

                <b-checkbox
                    :checked="preset.deleteSourceBranch"
                    @input="setDeleteSourceBranch({ presetIndex, value: $event })"
                    :disabled="!editing"
                >
                    Delete source branch when merge request is accepted.
                </b-checkbox>
                <b-checkbox
                    :checked="preset.squashCommits"
                    @input="setSquashCommits({ presetIndex, value: $event })"
                    :disabled="!editing"
                >
                    Squash commits when merge request is accepted.
                </b-checkbox>
                <b-checkbox
                    :checked="preset.assignToMe"
                    @input="setAssignToMe({ presetIndex, value: $event })"
                    :disabled="!editing"
                >
                    Assign the merge request to me.
                </b-checkbox>
            </b-card>

            <b-button v-if="editing" @click="editing = false" variant="info" block class="mt-4">
                <b-icon-check />
                Save
            </b-button>
        </div>
    </b-card>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
    name: 'PresetCard',
    props: {
        preset: {
            type: Object,
            required: true,
        },
        presetIndex: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            editing: false,
        };
    },
    computed: {
        isExpanded() {
            return this.preset.isExpanded;
        },
    },
    methods: {
        ...mapMutations('mergeRequests', [
            'removePreset',
            'setPresetName',
            'renameApprover',
            'removeApprover',
            'setNumberApprovalsRequired',
            'setApproversAsReviewers',
            'renameLabel',
            'removeLabel',
            'setDeleteSourceBranch',
            'setSquashCommits',
            'setAssignToMe',
            'setTemplate',
        ]),
        setIsExpanded(value) {
            this.$store.commit('mergeRequests/setIsExpanded', {
                presetIndex: this.presetIndex,
                value,
            });
        },
        toggleIsExpanded() {
            this.setIsExpanded(!this.isExpanded);
            if (!this.isExpanded) {
                this.editing = false;
            }
        },
        toggleEditing() {
            this.editing = !this.editing;
            if (this.editing) {
                this.setIsExpanded(true);
            }
        },
        addApprover() {
            this.editing = true;
            this.$store.commit('mergeRequests/addApprover', {
                presetIndex: this.presetIndex,
                approver: 'new.approver',
            });
            this.$nextTick(() => {
                // Select text in input of added approver
                const inputs = this.$refs.approvers.querySelectorAll('input.c-presetCard__approverInput');
                inputs[inputs.length - 1].select();
            });
        },
        addLabel() {
            this.editing = true;
            this.$store.commit('mergeRequests/addLabel', {
                presetIndex: this.presetIndex,
                label: 'new-label',
            });
            this.$nextTick(() => {
                // Select text in input of added label
                const inputs = this.$refs.labels.querySelectorAll('input');
                inputs[inputs.length - 1].select();
            });
        },
        confirmRemovePreset(preset, presetIndex) {
            const message = `Do you really want to remove preset "${preset.presetName}"? This can not be undone.`;
            this.$bvModal
                .msgBoxConfirm(message, {
                    title: 'Delete Preset',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'danger',
                    okTitle: 'Delete Preset',
                    cancelTitle: 'Cancel',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true,
                })
                .then(value => {
                    if (value) {
                        this.removePreset(presetIndex);
                    }
                })
                .catch(console.error);
        },
    },
};
</script>
